*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
projectFilesBackup
app/src/main/java/hackernewslater/williamha/com/hackernewslater/Globals.kt
app/release/app-release.apk
app/build.gradle